@model List<ExamWH.Models.Bet>

@{
    ViewBag.Title = "Risk Sample";
}

<header>
    <h1>@ViewBag.Title</h1>

    <style>
        .high-risk {
            background-color:red;
        }

    </style>
</header>

<div id="main-content">

    <p class="error" data-bind="text: error"></p>

    <table class="table">
        <thead >
            <tr class="active">
                <th>Customer</th>
                <th>Event</th>
                <th>Participant</th>
                <th>Stake</th>
                <th>To Win</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model)
            {
                if(item.HighRisk)
                {  <tr class="high-risk">
                    <td>@Html.DisplayFor(m => item.Customer)</td>
                    <td>@Html.DisplayFor(m => item.Event)</td>
                    <td>@Html.DisplayFor(m => item.Participant)</td>
                    <td>@Html.DisplayFor(m => item.Stake)
                    </td>
                    <td>@Html.DisplayFor(m => item.ToWin)</td>
                </tr>}
                else
                {  <tr class="active">
                    <td>@Html.DisplayFor(m => item.Customer)</td>
                    <td>@Html.DisplayFor(m => item.Event)</td>
                    <td>@Html.DisplayFor(m => item.Participant)</td>
                    <td>@Html.DisplayFor(m => item.Stake)
                    </td>
                    <td>@Html.DisplayFor(m => item.ToWin)</td>
                </tr>}
               
                
             
            }
        </tbody>
    </table>
    @*<section id="lists" data-bind="foreach: todoLists, visible: todoLists().length > 0">

    </section>*@


</div>


@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/todo")
}
